body {
    font-family: "Comic Sans MS", "Comic Sans", bold;
    background-image: url("neko.gif");
    background-repeat: repeat;
    background-size: 15%;
}

ul {
    background-color: #ffffff40;
    position: sticky;
    top: 2;
}

li {
    display: inline;
    font-size: 200%;
    padding: 1%;
}

a:hover {
    color: #ff0000
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: #000000
}