body {
    font-family: "Sylfaen", bold;
    background-image: linear-gradient(to right, #000069, #690000);
}

ul {
    background-color: #000000;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    font-size: 150%;
    padding: 1.5%;
}