body {
    font-family: "Sylfaen", bold;
    background-image: linear-gradient(to right, #690000, #006900, #000069);
}

ul {
    background-color: #acacac;
    position: sticky;
    top: 0;
}

li {
    color: #ff0000;
    display: inline;
    font-size: 150%;
    padding: 1.5%;
}