body {
    font-family: "Comic Sans MS", "Comic Sans", bold;
    background-image: linear-gradient(to right, #690000, #000069);
}

ul {
    background-color: #ffffff2d;
    position: sticky;
    top: 2;
}

li {
    color: #000000;
    display: inline;
    font-size: 200%;
    padding: 1%;
}