body {
    font-family: "Sylfaen", bold;
    background-image:
        linear-gradient(to right, #00094a, #360014);
}
h1 {
    background-color: #000000;
    position: sticky;
    top: 0;
}
