body {
    font-family: "Comic Sans MS", "Comic Sans", cursive, bold;
    background-image:url(C:/Users/tobia/OneDrive/Dokumenter/GitHub/HTML-test/cat.gif);
    background-position:center;
    background-repeat:repeat;
    background-size:200px 200px;
}