body {
    font-family: "Comic Sans MS", "Comic Sans", cursive, bold;
    background-image:
        linear-gradient(to bottom right, rgb(1, 0, 77), rgb(122, 1, 133), rgb(110, 0, 0));
}
h1 {
    color:#09ff00;}
p {
    color: #00c3ff;
}