body {
    background-image: url(https://media.tenor.com/P-8ZvqnS4AwAAAAM/dancing-cat-dancing-kitten.gif);
    background-size: cover;
}

.page-header {
    color: #ffffff;
}

.page-footer {
    color: #ffffff;
}